
@{ ViewData["Title"] = "Yeni Kateqoriya"; }
@model SubCategory
<div class="container">
    <h1>New Sub-Categories</h1>
    <form method="post">
        <div class="mb-3">
            <input asp-for="Name" class="form-control" placeholder="Category Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CategoryId">Change Category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category,"Id","Name"))"></select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>

        <button type="submit" class="btn btn-warning">Create</button>
    </form>
</div>

