@model MemberLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<main>
    <section class="breadCrumb">
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-3">
                        <li class="breadcrumb-item active"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Cart</a></li>
                        <li class="breadcrumb-item active"><a href="#">Checkout</a></li>
                        <li class="breadcrumb-item" aria-current="page">Login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="userLogin">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="userImg d-flex justify-content-end ">
                        <img src="~/img/signIn.jpg">

                    </div>

                    <div class="signUpText d-flex justify-content-end ">
                        <a asp-action="register" asp-controller="account">Create an account</a>
                    </div>


                </div>

                <div class="col-lg-3">
                    <div class="signInUser">
                        <h1>Sign up</h1>

                        <form class="mt-4" method="post">

                            <div class="usernameInput mb-3 d-flex align-items-center mt-5">
                                <i class="fa-solid fa-user"></i>
                                <input  asp-for="UserName" class="form-control"  placeholder="Your Name">
                               
                            </div>

                            <div class="passwordInput mb-3 d-flex align-items-center mt-3">
                                <i class="fa-solid fa-lock"></i>
                                <input asp-for="Password" class="form-control"  placeholder="Password">
                            </div>

                            <div class="col-12 loginInput">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember me
                                    </label>
                                </div>
                            </div>


                            <div class="forgotPass mt-4">
                                <a asp-action="forgotpassword" asp-controller="account">Forgot Password</a>
                            </div>


                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="loginBtn">
                                <button type="submit" class="btn mt-5 ">Login</button>

                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-lg-3"></div>


            </div>
        </div>
    </section>

</main>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
