

    <main>
        <section class="breadCrumb">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-3">
                          <li class="breadcrumb-item active"><a href="#">Home</a></li>
                          <li class="breadcrumb-item" aria-current="page">Thank you</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </section>

        <section class="thankYou mt-5">
            <div class="container">
                <div class="row">
                    <div class="thankYouSec d-flex justify-content-center flex-column text-center">
                        <i class="fa-solid fa-circle-check"></i>
                        <h1>Thank you!</h1>
                        <p>You order was successfuly completed.</p>
                        <div class="thankYouBtn d-flex justify-content-center">
                            
                        
                            <a>
                                <button type="button" class="heroBtn" style="width: 15rem;">Back To Shop</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
