<main>
    <section class="breadCrumb">
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-3">
                        <li class="breadcrumb-item active"><a href="#">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="row">
                <h3>Get In Touch</h3>
                <div class="col-lg-6 border p-4">
                    <div class="contactForm">
                        <form>
                            <div class="contactName d-flex">
                                <div class="mb-3">
                                    <label for="exampleInputName1" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
                                </div>

                                <div class="mb-3 ms-auto">
                                    <label for="exampleInputLastName1" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputLastName1" aria-describedby="LastNameHelp">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputSubject1" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="exampleInputSubject1" aria-describedby="subjectHelp">
                            </div>

                            <div class="form-floating">
                                <label for="floatingTextarea" class="form-label">Message</label>
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            </div>
                            <button type="button" class="contactBtn heroBtn mt-5" style="width: 100%;">Send</button>


                        </form>
                    </div>
                </div>

                <div class="contactSecond col-lg-5 mt-lg-0 mt-5 ms-lg-5 ms-0">
                    <div class="contactCard border p-4">
                        <h6 class="mt-2">New York</h6>
                        <p class="mt-2">203 Fake St. Mountain View, San Francisco, California, USA</p>

                    </div>

                    <div class="contactCard border p-4 mt-4">
                        <h6 class="mt-2">London</h6>
                        <p class="mt-2">203 Fake St. Mountain View, San Francisco, California, USA</p>

                    </div>

                    <div class="contactCard border p-4 mt-4">
                        <h6 class="mt-2">Canada</h6>
                        <p class="mt-2">203 Fake St. Mountain View, San Francisco, California, USA</p>

                    </div>
                </div>

                <div class="col-lg-1"></div>

            </div>
        </div>

    </section>

</main>